// Icons Styles

@font-face {
    font-family: 'calendare-icons';
    src:  url('../icons/calendare-icons.eot?39pmvl');
    src:  url('../icons/calendare-icons.eot?39pmvl#iefix') format('embedded-opentype'),
      url('../icons/calendare-icons.ttf?39pmvl') format('truetype'),
      url('../icons/calendare-icons.woff?39pmvl') format('woff'),
      url('../icons/calendare-icons.svg?39pmvl#calendare-icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="ic-"]:after, [class*=" ic-"]:after {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'calendare-icons' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 2.1875rem !important;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: .5s;
  }

// Mixins

@mixin color-icon($url, $size) {
    &::before {
        content: "";
        width: calc($size + 0.62rem);
        height: calc($size + 0.62rem);
        background-color: $white;
        background-image: url($url);
        background-size: $size;
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
        box-shadow: 1px 1px 5px $pink1;
        border-radius: 50%;
    }
}

// Side Panel Icons

.aside-ic-1 {
    @include color-icon("../images/side-panel-item-1.png", 3.4375rem);
}

.aside-ic-2 {
    @include color-icon("../images/side-panel-item-2.png", 3.4375rem);
}

.aside-ic-3 {
    @include color-icon("../images/side-panel-item-3.png", 3.4375rem);
}

.aside-ic-4 {
    @include color-icon("../images/side-panel-item-4.png", 3.4375rem);
}

.aside-ic-5 {
    @include color-icon("../images/side-panel-item-5.png", 3.4375rem);
}

.aside-ic-6 {
    @include color-icon("../images/side-panel-item-6.png", 3.4375rem);
}

.aside-ic-7 {
    @include color-icon("../images/side-panel-item-7.png", 3.4375rem);
}

.aside-ic-8 {
    @include color-icon("../images/side-panel-item-8.png", 3.4375rem);
}

.aside-ic-9 {
    @include color-icon("../images/side-panel-item-9.png", 3.4375rem);
}

.aside-ic-10 {
    @include color-icon("../images/side-panel-item-10.png", 3.4375rem);
}

.aside-ic-11 {
    @include color-icon("../images/side-panel-item-11.png", 3.4375rem);
}

.aside-ic-12 {
    @include color-icon("../images/side-panel-item-12.png", 3.4375rem);
}

// All Icons

.ic-scrollup:after {
  content: "\e919";
}
.ic-menu:after {
    content: "\e916";
  }
.ic-stick:after {
    content: "\e918";
  }
  .ic-cart:after {
    content: "\e910";
  }
  .ic-stars:after {
    content: "\e913";
  }
  .ic-trash:after {
    content: "\e914";
  }
  .ic-users:after {
    content: "\e915";
  }
  .ic-search:after {
    content: "\e917";
  }
  .ic-skip-2:after {
    content: "\e907";
  }
  .ic-arrow-top:after {
    content: "\e900";
  }
  .ic-follow:after {
    content: "\e901";
  }
  .ic-follow-fill:after {
    content: "\e902";
  }
  .ic-drop-down:after {
    content: "\e903";
  }
  .ic-skip:after {
    content: "\e904";
  }
  .ic-message:after {
    content: "\e905";
  }
  .ic-message-2:after {
    content: "\e906";
  }
  .ic-book:after {
    content: "\e908";
  }
  .ic-hat:after {
    content: "\e909";
  }
  .ic-hand:after {
    content: "\e90a";
  }
  .ic-hands:after {
    content: "\e90b";
  }
  .ic-fill-heart-2:after {
    content: "\e90c";
  }
  .ic-heart:after {
    content: "\e90d";
  }
  .ic-inst:after {
    content: "\e90e";
  }
  .ic-question:after {
    content: "\e90f";
  }
  .ic-ruble:after {
    content: "\e911";
  }
  .ic-search-2:after {
    content: "\e912";
  }
  .ic-settings:after {
    content: "\e91a";
  }
  .ic-filter:after {
    content: "\e91b";
  }
  .ic-sphere:after {
    content: "\e922";
  }
  .ic-tg:after {
    content: "\e923";
  }
  .ic-prise:after {
    content: "\e926";
  }
  .ic-vk:after {
    content: "\e929";
  }
  .ic-waves:after {
    content: "\e92a";
  }
  .ic-in-yan:after {
    content: "\e92b";
  }  
  