// Fonts Variables

$primaryFont: "Fira Sans";
$secondaryFont: "Fira Sans Condensed";
$thirdFont: "Fira Sans Extra Condensed";

$blackFont: 900;
$extrabold: 800;
$bold: 700;
$semibold: 600;
$medium: 500;
$normal: 400;
$light: 300;

// Colors Variables

$primaryColor: #5516A6;

$black: #000000;
$white: white;

$gray1: rgba(0, 0, 0, 0.35);
$gray2: #FFF5FE;

$purple1: #8C007E;
$purple2: rgba(251, 34, 255, 0.50);

$purple3: #5B0086;
$purple4: rgba(250, 0, 255, 0.35);

$purple5: #250055;
$purple6: rgba(130, 0, 233, 0.35);

$purple7: rgba(255, 0, 229, 0.55);
$purple8: rgba(238, 1, 214, 0.8);

$purple9: #340076;

$purple10: rgba(175, 0, 221, 0.55);

$purple11: rgba(36, 0, 255, 0.45);

$purple12: #3F008F;

$pink1: #EAAEE4;
$pink2: #FAE6F8;
$pink3: rgba(234, 174, 228, 0.75);

$brown1: #926A8E;
$brown2: rgba(234, 174, 228, 0.35);

// Container Variables

$containerWidth: 144.375rem;
$containerPadding: 0.94rem;

$sectionContainerWidth: 100%;
$sectionContainerPadding: 0px;