// Home Styles

.home {
    width: 100%;

    &__header {
        width: 100%;
        justify-content: space-between;
        position: relative;
        margin-bottom: 3.87rem;
    }

    &__header-section {

        &_buttons {
            gap: 1.75rem;
        }

        &_count {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
    }

    &__btn {
        @extend %btn;

        &_active {
            @extend %text-color-active-5;
        }
    }

    &__count {
        @extend %text-color-default-5;
        font-family: $secondaryFont;
        font-size: 1.8125rem;
        font-weight: $extrabold;
        letter-spacing: 0.09063rem;
    }

    &__filter-btn {
        @extend %btn-quadro;
        gap: 1.62rem;
    }

    &__filter-btn-text {
        @extend %icon-text;
        gap: 0.75rem;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }
}

.service {
    width: 100%;
    background: $white;
    border-radius: 0.9375rem;
    box-shadow: 1px 1px 15px 0px $pink3;
    border: 1px solid $pink1;
    position: relative;

    &__section-wrapper {
        position: relative;
        cursor: pointer;

        &:hover > .service__notify {
            visibility: visible;
            opacity: 1;
        }
    }

    &__section {

        &_img {
            position: relative;
        }

        &_middle {
            height: 3.81rem;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &_actions {
            height: 3.9375rem;
            display: grid;
            grid-template-columns: 2.1fr 2.5fr 1fr 1fr;
            align-items: center;
            border-top: 2px solid $brown2;

            & > *:not(:last-child) {
                border-right: 2px solid $brown2;
            }
        }
    }

    &__img {
        width: 100%;
        background: #000;
        border-radius: 1.0375rem 1.0375rem 0rem 0rem;
    }

    &__subelement {
        width: 100%;
        height: 6.5rem;
        background: linear-gradient(0deg, rgba(255,255,255,1) 36%, rgba(255,255,255,0.5858718487394958) 100%);
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__name {
        @extend %text-color-default-6;
        font-size: 1.8125rem;
        font-weight: $blackFont;
        line-height: 1.75rem;
    }

    &__subtitle {
        font-size: 1.375rem;
        font-weight: $medium;
        line-height: 1.5rem;
    }

    &__bottom-section {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &__price {
        font-family: $thirdFont;
        font-size: 2.0625rem;
        @extend %text-color-default-4;
    }

    &__cart-btn {
        font-family: $thirdFont;
        font-size: 1.75rem;
        font-weight: $semibold;
        @extend %text-color-default-5;
    }

    &__icon-btn {
        @include size(2.375rem);
        position: relative;
    }

    &__icon-btn-text {
        position: absolute;
        top: 0.3rem;
        left: 0.4rem;
        font-size: 1.3125rem;
        font-weight: $medium;
    }

    &__notify {
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 2.94rem 0.94rem 1.44rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        z-index: 1;
        background: radial-gradient(50.01% 23.54% at 50% 21.2%, rgba(255, 255, 255, 0.60) 41.67%, rgba(255, 255, 255, 0.00) 100%), linear-gradient(180deg, rgba(255, 255, 255, 0.65) 0%, #FFF 46.49%);
        visibility: hidden;
        opacity: 0;
        transition: .5s;
    }

    &__description {
        font-size: 1.375rem;
        font-weight: 500;
        line-height: 1.625rem;
    }

    &__details-link {
        @extend %btn;
        font-size: 1.3125rem;
    }

    &__sale {
        text-align: center;
        position: absolute;
        right: 0;
        top: 0;
        border: 1px solid #EAAEE4;
        padding: 1.1875rem 0.75rem 1.25rem 0.8125rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.81rem;
        z-index: 1;
        border-radius: 0rem 0.9375rem;
        background: $gray3;
    }

    &__current-price {
        color: #F00;
        text-shadow: 2px 2px 12px rgba(255, 255, 255, 0.50);
        font-size: 1.875rem;
        font-weight: $bold;
        line-height: 1.5625rem;
        display: inline-block;
    }

    &__last-price {
        color: rgba(185, 0, 0, 0.80);
        text-shadow: 1px 1px 4px rgba(130, 0, 233, 0.35);
        font-family: $thirdFont;
        font-size: 1.625rem;
        text-decoration: line-through;
        display: inline-block;
    }
}