// Side Panel Styles

.side-panel {
    width: 100%;
    overflow: auto;
    padding-right: 1.8rem;
    padding-left: 0.7rem;
    position: sticky;
    left: 0;
    top: 0;
    transition: .5s;

    &__skip-btn {
        position: absolute;
        top: 1rem;
        right: 2rem;
        color: #5516A6;
        filter: drop-shadow(1px 1px 4px rgba(91, 0, 163, 0.5));
        z-index: 1;
        display: none;
    }

    &__link-list {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        padding: 1.25rem 0;
    }

    &__link {
        background: linear-gradient(275.91deg, #0030AC 2.96%, #6800CF 98.09%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        filter: drop-shadow(0px 2px 2px rgba(175, 0, 221, 0.55));
        @extend %icon-text;
        gap: 0.75rem;
        font-size: 1.8125rem;
        font-weight: $medium;

        &:hover {
            background: linear-gradient(275.91deg, #8C007E 2.96%, #6800CF 98.09%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            filter: drop-shadow(0px 1px 8px rgba(251, 34, 255, 0.55));
        }

        &_drop-down {
            width: 100%;
            position: relative;

            // &::after {
            //     position: absolute;
            //     right: 0;
            //     top: 50%;
            //     transform: translate(0, -50%);
            //     border-radius: 50%;
            //     padding: 0.31rem;
            //     box-shadow: 1px 1px 5px #926A8E;
            //     background: linear-gradient(180deg, #005DCC 0%, #8800C7 100%);
            //     background-clip: text;
            //     -webkit-background-clip: text;
            //     -webkit-text-fill-color: transparent;
            // }

            &.active-btn .side-panel__link-drop-down-item::after {
                transform: translate(-50%, -50%) rotate(180deg);
            }
        }

        &-drop-down-item {
            @include size(1.5625rem);
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 2.1875rem;
            height: 2.1875rem;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0, -50%);
            border-radius: 50%;
            padding: 0.31rem;
            box-shadow: 1px 1px 5px #926A8E;

            &::after {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: linear-gradient(180deg, #005DCC 0%, #8800C7 100%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

    &__link-lists {
        margin-top: 1.19rem;

        & > .side-panel__nested-list {
            margin-left: 5.12rem;
            margin-top: 0;
        }
    }

    &__nested-list {
        display: flex;
        flex-direction: column;
        gap: 0.94rem;
        margin-left: 2.38rem;
        margin-top: 0.94rem;
    }

    &__nested-list-link {
        color: #250055;
        filter: drop-shadow(1px 1px 2px rgba(130, 0, 233, 0.35));
        font-size: 1.5625rem;
        font-weight: $semibold;
        line-height: 2rem;
        text-align: left;

        &:hover {
            color: #5B0086;
            filter: drop-shadow(0px 1px 8px rgba(250, 0, 255, 0.40));
        }
    }
}

// Media

// Media 2350px

@media all and (max-width: 2350px) {

    .side-panel {

        &__link {
            font-size: 1.5125rem;

            &::before {
                width: 3rem;
                height: 3rem;
            }

            &_drop-down {
                @include size(1.7rem);

                &::after {
                    background-size: 1.2rem;
                    background-position: center;
                }
            }
        }

        &__nested-list-link {
            font-size: 1.2125rem;
        }
    }

}

// Media 1920px

@media all and (max-width: 1920px) {

    .side-panel {

        &__link {
            font-size: 1.2125rem;

            &::before {
                width: 2.5rem;
                height: 2.5rem;
            }

            &_drop-down {
                @include size(1.5rem);

                &::after {
                    background-size: 1.2rem;
                    background-position: 2px 2px;
                }
            }
        }

        &__nested-list {
            gap: 1rem;
            margin: 1rem 0 0 1rem;
        }

        &__nested-list-link {
            font-size: 1.0125rem;
            line-height: normal;
        }

        &__link-lists {
            margin-top: 0.5rem;
    
            & > .side-panel__nested-list {
                margin-left: 3.5rem;
                margin-top: 0;
            }
        }
    }

}

// Media 500px

@media all and (max-width: 500px) {

    .side-panel {
        max-height: 100% !important;
        height: 100%;
        position: fixed !important;
        top: 0 !important;
        left: 0;
        z-index: 1000;
        background: $white;

        &__skip-btn {
            display: inline-flex;
        }
    }

}