// Side Panel Styles

.side-panel {
    width: 100%;
    overflow: auto;
    max-height: 83rem;
    padding-right: 1.8rem;

    &__link-list {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }

    &__link {
        background: linear-gradient(275.91deg, #0030AC 2.96%, #6800CF 98.09%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        text-shadow: 0px 2px 2px rgba(175, 0, 221, 0.55);
        @extend %icon-text;
        gap: 0.75rem;
        font-size: 1.8125rem;
        font-weight: $medium;

        &_drop-down {
            width: 100%;
            position: relative;

            &::after {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translate(0, -50%);
                background-color: $white;
                background-size: 1.5625rem;
                border-radius: 50%;
                border: 1px solid $purple11;
                box-shadow: 1px 1px 5px $brown1;
            }

            &.active-btn::after {
                transform: translate(0, -50%) rotate(180deg);
            }


            &.active-btn {
                background: linear-gradient(275.91deg, #8C007E 2.96%, #6800CF 98.09%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
                text-shadow: 0px 1px 8px rgba(251, 34, 255, 0.55);
            }
        }
    }

    &__link-lists {
        margin-top: 1.19rem;

        & > .side-panel__nested-list {
            margin-left: 5.12rem;
            margin-top: 0;
        }
    }

    &__nested-list {
        display: flex;
        flex-direction: column;
        gap: 0.94rem;
        margin-left: 2.38rem;
        margin-top: 0.94rem;
    }

    &__nested-list-link {
        color: #250055;
        text-shadow: 1px 1px 2px rgba(130, 0, 233, 0.35);
        font-size: 1.5625rem;
        font-weight: $semibold;
        line-height: 2rem;
    }
}

// Media

@media all and (max-width: 2350px) {

    .side-panel {

        &__link {
            font-size: 1.5125rem;

            &::before {
                width: 3rem;
                height: 3rem;
            }

            &_drop-down {
                @include size(1.7rem);

                &::after {
                    background-size: 1.2rem;
                    background-position: center;
                }
            }
        }

        &__nested-list-link {
            font-size: 1.2125rem;
        }
    }

}

@media all and (max-width: 1920px) {

    .side-panel {

        &__link {
            font-size: 1.2125rem;

            &::before {
                width: 2.5rem;
                height: 2.5rem;
            }

            &_drop-down {
                @include size(1.5rem);

                &::after {
                    background-size: 1.2rem;
                    background-position: 2px 2px;
                }
            }
        }

        &__nested-list {
            gap: 1rem;
            margin: 1rem 0 0 1rem;
        }

        &__nested-list-link {
            font-size: 1.0125rem;
            line-height: normal;
        }

        &__link-lists {
            margin-top: 0.5rem;
    
            & > .side-panel__nested-list {
                margin-left: 3.5rem;
                margin-top: 0;
            }
        }
    }

}